<div id="footer-container">
    <div>
        <h2>&copy Paindla Narendar Reddy: All rights resweved. </h2>
        <h2>Phone : 6300089705</h2>
        <h2>Email : narendarreddypaindla@gmail.com</h2>
    </div>
</div>