<div>
    <p>Hi
        <%= user.name %> !</p>
    <p>Don't share this link with anyone!</p>
    <p>
        Use this link to reset your password of your
        <strong>Authenticte-Yourself</strong>
    </p>
    <p>
        Use this link to reset password of your Codeial account.
        <a href="https://localhost:3000/user/reset-password/<%= user.accessToken %>">Click here!</a>
    </p>
    <p>Thanks !</p>
</div>